* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html { font-size: 62.5%; } 
body { font-size: 1.4rem; } /* =14px */
h1   { font-size: 2.4rem; } /* =24px */
body {
    padding-left: 10rem;
    padding-right: 10rem;
}
/* Top Bar */
#top-bar-container {
    position: fixed;
}
#top-bar {
    padding-top: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 86.5vw;
    background: white;
}
#top-bar h1 {
    font-size: 4.5rem;
    font-family: 'Wire One', sans-serif;
}
#job {
    color: gray;
    font-weight: 400;
}
#top-bar h2 {
    font-family: 'Lato', sans-serif;
    text-transform: uppercase;
    font-size: 1.2rem;
    font-weight: 500;
}
#top-bar h2 span {
    color: gray;
    margin-left: 1rem;
    margin-right: 1rem;
}
#top-items {
    min-width: 60rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 65vw;
}
#button-wrap {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
#top-bar button {
    border: none;
    background: none;
    font-size: 2rem;
    color: gray;
}

/* Hero Section */
#main-container {
    display: flex;
    flex-direction: column;
}
#hero {
    overflow: auto;
    margin-top: 5rem;
    height: 95vh;
    width: 100%;
    display: flex;
}
#main {
    display: flex;
    margin: auto;
    margin-top: 0;
}
#personal-info {
    margin-top: 25rem;
    display: flex;
    font-family: 'Lato', sans-serif;
    flex-direction: column;
    width: 23rem;
}
#personal-info h1 {
    font-size: 5rem;
    line-height: 4.5rem;
    font-weight: 500;
}
#personal-info h2 {
    color: rgb(82, 45, 11);
    font-weight: 400;
    text-transform: uppercase;
    margin-top: 3rem;
    font-size: 1.4rem;
    line-height: 2rem;
}
#personal-info h3 {
    margin-top: 5rem;
    font-weight: 300;
    font-size: 1.3rem;
    color: gray;
}
#personal-info button {
    width: 11.2rem;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5rem;
    border: none;
    font-weight: 700;
    text-transform: uppercase;
    color: white;
    background-color: rgb(70, 57, 73);
    border-radius: 1rem;
}
#hero img {
    margin-top: 11.5rem;
    width: 55rem;
    height: 55rem;
}
#social-icons {
    display: flex;
    height: 56rem;
    flex-direction: column;
    justify-content: flex-end;
}
#instagram img, #github img{
    display: flex;
    width: 2rem;
    height: 2rem;
    filter: invert(19%) sepia(2%) saturate(2306%) hue-rotate(267deg) brightness(91%) contrast(75%);
}
#instagram img {
    margin-top: 1rem;
}
#right-bar {
    width: 2rem;
    display: flex;
    margin-left: auto;
    height: 85vh;
    writing-mode: vertical-rl;
    align-items: center;
    justify-content: flex-end;
    text-transform: uppercase;
    font-family: 'Lato', sans-serif;
    font-size: 1.2rem;
    margin-right: 10rem;
    position: fixed;
    letter-spacing: 0.25em;
}
#right-bar p {
    margin-bottom: 5rem;
}

/* Projects */
#booklet {
    width:50%;
    display: flex;
    margin: auto;
    height: 25rem;
    min-width: 80rem;
    background:#ecdfd5;
    border-radius: 2.5rem;
    margin-bottom: 10rem;
    background-image: url("bookplate.png");
    background-size: 50rem 40rem;
    background-position: right;
    background-position-y: -7rem;
    background-position-x: right;
    background-repeat: no-repeat;
}